/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
}

.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}

/* Navbar styles */
.navbar {
    height: 100px;
    background-color: #0056b3; /* Dark background */
    color: #fff; /* White text */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
  }

  
  .hero-content {
    width:700px;
    height:225px;
    opacity: 0.85;
    background-color: #dbd6d6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .hero-content p {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(29, 28, 28);
    font-weight: bold;
    margin-bottom: 10px;
    
  }


  .hero_1 {
    position: relative;
    text-align: center;
  }

  .hero-content_1 {
    width:300px;
    height:155px;
    opacity: 0.75;
    background-color: #dbd6d6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
  

  .hero-content_1 p {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(29, 28, 28);
    font-weight: bold;
    margin-bottom: 10px;
    
  }

  .hero_1 img {
    width: 100%;
    height: 250px;
    opacity: 0.8;
    
  }
  
  #exploreBtn {
    font-size: 30px;
    background-color:orange;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 55px ;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
  }
  #exploreBtn:hover {
    transform: scale(0.9); /* Scale down to 90% on hover */
  }
  
  .hero img {
    width: 100%;
    height: auto;
    
  }

/* Content styles */
.content {
    margin-top: 50px;
     /* Space below navbar */
}

/* About Us section styles */
.abt_content {
    
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.abt_content h1 {
    font-size: 18px;
    line-height: 1.5;
    color: #333; /* Dark text color */
}

.nav-link {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust font size */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light background color on hover*/
}
.what-we-provide {
    padding: 2em 0;
  }
footer {
    background-color:#0056b3;
    color: white;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  footer p{
    text-align: center;
  }

  .services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .service {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    border-radius:15px;
    
  }
  
  .service h3{
    padding:8px;
  }

  .service img {
    
    max-width: 100%;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 8px; /* Optional: add border-radius for rounded corners */
  }

  .service:hover img {
    transform: scale(0.9); /* Scale down to 90% on hover */
  }
  


