

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload PDF</title>
  <link rel="stylesheet" href="profile_pro.css">
</head>
<body>

<nav class="navbar">
    <div class="navbar-brand">
      <span class="logo">HackMatch</span>
    </div>
    <div class="navbar-menu">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
      </ul>
    </div>
  </nav>
 
  <nav class="sub-navbar">
      <ul class="sub-navbar-nav">
        <li><a href="#" class="sub-nav-link active">About</a></li>
        <li><a href="#" class="sub-nav-link">Education</a></li>
        <li><a href="#" class="sub-nav-link">Experience</a></li>
        <li><a href="#" class="sub-nav-link">Projects</a></li>
        <li><a href="#" class="sub-nav-link">Links</a></li>
      </ul>
    </nav>
<main>
  <div class="container">
    <h2>Upload Projects</h2>
    <form id="pdf-upload-form">
      <input type="file" id="pdf-file" accept=".pdf">
      <input type="submit" value="Upload">
    </form>
  </div>
</main>

<script src="profile_pro.js"></script>
</body>
</html>
